/*!==============================
 * Theme Name: Haus
 * Theme URL: https://probootstrap.com/haus-free-real-estate-html5-website-template
 * Version: 1.0
 * Author: ProBootstrap.com
 * Author URL: https://probootstrap.com
 * License: Released for free under the Creative Commons Attribution 3.0 license (probootstrap.com/license)
 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x");
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?1z9v6x") format("truetype"), url("../fonts/icomoon/icomoon.woff?1z9v6x") format("woff"), url("../fonts/icomoon/icomoon.svg?1z9v6x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;
  font-size: 1em;
}

body {
  background: #fff;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #7e8890;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

::selection {
  background: #000000;
  color: #ffffff;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}
.new
{
      color: #9d0000;
    text-align: center;
    font-size: 25px;

  
}
h1, h2, h3, .probootstrap-card .probootstrap-card-text .probootstrap-card-heading, .service .heading, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.8);
}

h1 {
  margin-top: 0;
  font-size: 1.602em;
}

h2 {
  font-size: 1.424em;
}

h3, .probootstrap-card .probootstrap-card-text .probootstrap-card-heading, .service .heading {
  font-size: 1.266em;
}

h4 {
  font-size: 1.125em;
}

small, .font_small {
  font-size: 0.889em;
}

p, ul, ol, figure {
  margin-bottom: 1.3em;
}

a {
  -webkit-transition: .3s all;
  transition: .3s all;
  color: #2866AB;
}

a:hover, a:focus, a:active {
  color: black;
  text-decoration: none;
}

a.hover-reverse {
  color: #000000;
}

a.hover-reverse:hover, a.hover-reverse:focus, a.hover-reverse:active {
  color: #2866AB;
  text-decoration: none;
}

.probootstrap-header {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background: #ffffff;
  z-index: 12;
  position: absolute;
  top: 0;
  -webkit-box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.2);
}

.probootstrap-logo {
  float: left;
  color: #2866AB;
  padding-left: 20px;
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
}

.probootstrap-logo:hover, .probootstrap-logo:focus, .probootstrap-logo:active {
  color: #2866AB;
}

@media screen and (max-width: 768px) {
  .probootstrap-logo {
    padding-left: 0px;
  }
}

.probootstrap-nav {
  margin-left: 60px;
  float: right;
}

.probootstrap-mobile-menu-active .probootstrap-nav {
  text-align: left;
  position: fixed;
  display: block !important;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 0;
  z-index: 1100;
  height: 100vh;
  width: 300px;
  background: #000000;
  padding: 40px;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text {
  display: block;
  float: left;
  clear: both;
  margin-top: 30px;
  color: #ffffff;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons {
  padding: 0;
  margin: 0 0 20px 0;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0;
  margin: 0;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons li a {
  color: #ffffff;
  padding: 10px;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons li:first-child a {
  padding-left: 0;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text h5 {
  text-transform: uppercase;
  letter-spacing: .1em;
  color: rgba(255, 255, 255, 0.5);
}

.probootstrap-mobile-menu-active.show .probootstrap-nav {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.probootstrap-main-nav {
  margin: 0;
  padding: 0;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav {
  float: left;
  margin-top: 40px;
  width: 100%;
}

.probootstrap-main-nav li {
  margin: 0;
  padding: 0 10px;
  list-style: none;
  display: inline;
  font-size: 18px;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li {
  margin-bottom: 10px;
  display: block;
  padding-left: 0;
  padding-right: 0;
}

.probootstrap-main-nav li a {
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 0;
  color: #000000;
  font-size: 14px;
  border-bottom: 2px solid transparent;
}

.probootstrap-main-nav li a:hover {
  color: #2866AB;
}

.probootstrap-mobile-menu-active.show .probootstrap-main-nav li a {
  color: #ffffff;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li a {
  margin-bottom: 10px;
  padding: 5px 0;
  display: block;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li a {
  border-bottom: none !important;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li a:hover {
  color: #2866AB;
}

.probootstrap-main-nav li.probootstrap-cta {
  margin-left: 20px;
}

.probootstrap-main-nav li.probootstrap-cta a {
  border: 2px solid #ffffff;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 4px;
}

.probootstrap-main-nav li.probootstrap-cta a:hover {
  background: #ffffff;
  color: #2866AB;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li.probootstrap-cta {
  margin-left: 0px;
  margin-top: 20px;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li.probootstrap-cta a {
  padding-top: 2px;
  padding-bottom: 2px;
}

.probootstrap-main-nav li.active a {
  border-bottom: 2px solid #2866AB;
}

.probootstrap-main-nav li.active a:hover {
  border-bottom: 2px solid #2866AB;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li.active a {
  border-bottom: none !important;
  color: #2866AB;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li {
  display: block;
}

.probootstrap-header-social {
  position: absolute;
  top: 34px;
  right: 60px;
}

.probootstrap-header-social li {
  display: inline;
  list-style: none;
  margin-left: 5px;
}

.probootstrap-header-social li a {
  color: #ffffff;
}

.mobile-menu-overlay {
  z-index: 1099;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;


  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.probootstrap-mobile-menu-active.show .mobile-menu-overlay {
  opacity: 1;
  visibility: visible;
}

.probootstrap-wrap-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 49;
}

.probootstrap-burger-menu {
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.probootstrap-burger-menu i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 2px;
  color: #000000;
  font: bold 14px/.4 Helvetica, arial;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000000;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.probootstrap-burger-menu i::before, .probootstrap-burger-menu i::after {
  content: '';
  width: 18px;
  height: 2px;
  background: #000000;
  position: absolute;
  left: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.probootstrap-burger-menu i::before {
  top: -7px;
}

.probootstrap-burger-menu i::after {
  bottom: -7px;
}

.probootstrap-burger-menu:hover i::before {
  top: -10px;
}

.probootstrap-burger-menu:hover i::after {
  bottom: -10px;
}

.probootstrap-burger-menu.active i {
  background: transparent;
}

.probootstrap-burger-menu.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.probootstrap-burger-menu.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.probootstrap-mobile-menu-active.show .probootstrap-burger-menu i {
  color: #ffffff;
  background: #000000;
}

.probootstrap-mobile-menu-active.show .probootstrap-burger-menu i::before, .probootstrap-mobile-menu-active.show .probootstrap-burger-menu i::after {
  background: #ffffff;
}

.probootstrap-burger-menu {
  position: absolute;
  top: 30px;
  right: 20px;
}

.btn {
  border: none;
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
}

.btn.btn-sm {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

.btn.btn-lg {
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn.btn-primary {
  border: 2px solid #2866AB;
  background: #2866AB;
  color: #ffffff;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  background: #2d72c0;
  color: #ffffff;
  border: 2px solid #2d72c0;
}

.btn.btn-primary:focus, .btn.btn-primary:active {
  outline: none;
  border: 2px solid #2d72c0;
}

.btn.btn-ghost {
  background: transparent;
  border: 2px solid #2866AB;
  color: #2866AB;
}

.btn.btn-ghost:hover {
  background: #2866AB;
  color: #ffffff;
  border: 2px solid #2866AB;
}

.btn.btn-ghost:focus, .btn.btn-ghost:active {
  outline: none;
  background: transparent;
  color: #2866AB;
  border: 2px solid #2866AB;
}

.btn.btn-ghost.btn-ghost-white {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn.btn-ghost.btn-ghost-white:hover {
  background: #ffffff;
  color: #2866AB;
}

.btn.btn-ghost.btn-ghost-white:focus, .btn.btn-ghost.btn-ghost-white:active {
  outline: none;
  background: #ffffff;
  color: #2866AB;
  border: 2px solid #ffffff;
}

.btn.btn-black {
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.btn.btn-black:hover {
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.btn.btn-black:focus, .btn.btn-black:active {
  outline: none;
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.probootstrap-section {
  padding: 4em 0;
  position: relative;
  z-index: 2;
}

.probootstrap-section.probootstrap-section-sm {
  padding: 3em 0;
}

.probootstrap-section.probootstrap-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section > .container.probootstrap-border-top {
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-section-colored, .probootstrap-section.probootstrap-section-dark {
  background: #2866AB;
  background: #ddf0f3;
  background: -webkit-gradient(left top, right top, color-stop(0%, #ddf0f3), color-stop(100%, #2866ab));
  background: -webkit-gradient(linear, left top, right top, from(#ddf0f3), to(#2866ab));
  background: linear-gradient(to right, #ddf0f3 0%, #2866ab 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$firstcolor, endColorstr=$secondcolor, GradientType=1 );
}

.probootstrap-section.probootstrap-section-colored .section-heading h2, .probootstrap-section.probootstrap-section-dark .section-heading h2 {
  color: white;
}

.probootstrap-section.probootstrap-section-colored .section-heading p, .probootstrap-section.probootstrap-section-dark .section-heading p {
  color: rgba(255, 255, 255, 0.6);
}

.probootstrap-section.probootstrap-section-colored .heading-with-icon, .probootstrap-section.probootstrap-section-dark .heading-with-icon {
  color: #2866AB;
}

.probootstrap-section.probootstrap-section-colored .heading-with-icon i, .probootstrap-section.probootstrap-section-dark .heading-with-icon i {
  color: #2866AB;
}

.probootstrap-section.probootstrap-section-colored p, .probootstrap-section.probootstrap-section-dark p {
  color: white;
}

.probootstrap-section.probootstrap-section-dark {
  background: #161C2E;
  color: white;
}

.probootstrap-section.probootstrap-section-dark .section-heading h2 {
  color: white;
}

.probootstrap-section.probootstrap-section-dark .section-heading p {
  color: rgba(255, 255, 255, 0.6);
}

.probootstrap-section.probootstrap-section-dark p {
  color: rgba(255, 255, 255, 0.6);
}

.probootstrap-section.probootstrap-section-lighter {
  background: #f7f7f7;
}

@media screen and (max-width: 768px) {
  .probootstrap-section {
    padding: 3em 0;
  }
}

.probootstrap-section.probootstrap-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 8em 0;
}

.probootstrap-section.probootstrap-bg:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.probootstrap-section.probootstrap-bg .heading {
  margin-top: 0;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.probootstrap-section.probootstrap-bg .sub-heading {
  font-size: 20px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}

.probootstrap-section.probootstrap-bg .container {
  position: relative;
  z-index: 2;
}

.probootstrap-relative {
  position: relative;
}

.probootstrap-owl-navigation {
  margin: 0;
  padding: 0;
}

.probootstrap-owl-navigation.absolute {
  position: absolute;
  top: 2px;
}

@media screen and (max-width: 768px) {
  .probootstrap-owl-navigation.absolute {
    position: relative;
    margin-bottom: 40px;
  }
}

.probootstrap-owl-navigation.absolute.right {
  right: 10px;
}

.probootstrap-owl-navigation.absolute.left {
  left: 0;
}

.probootstrap-owl-navigation li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.probootstrap-owl-navigation li a {
  font-size: 30px;
  padding: 0px;
  color: #cccccc;
}

.probootstrap-owl-navigation li a:hover {
  color: #333333;
}

.probootstrap-footer-widget {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.probootstrap-footer-widget .heading {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .2em;
  margin-bottom: 30px;
}

.probootstrap-footer-widget.right {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .probootstrap-footer-widget.right {
    text-align: left;
  }
}

.probootstrap-footer {
  padding: 5em 0;
}

@media screen and (max-width: 768px) {
  .probootstrap-footer {
    padding: 3em 0;
  }
}

.probootstrap-footer.probootstrap-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 8em 0;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
}

.probootstrap-footer.probootstrap-bg a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.probootstrap-footer.probootstrap-bg a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.probootstrap-footer.probootstrap-bg h2, .probootstrap-footer.probootstrap-bg h3, .probootstrap-footer.probootstrap-bg .probootstrap-card .probootstrap-card-text .probootstrap-card-heading, .probootstrap-card .probootstrap-card-text .probootstrap-footer.probootstrap-bg .probootstrap-card-heading, .probootstrap-footer.probootstrap-bg .service .heading, .service .probootstrap-footer.probootstrap-bg .heading, .probootstrap-footer.probootstrap-bg h4 {
  color: #ffffff;
}

.probootstrap-footer.probootstrap-bg:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.probootstrap-footer > .container {
  position: relative;
  z-index: 2;
}

.probootstrap-footer form .form-control {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 46px;
  color: #ffffff;
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
}

.probootstrap-footer form .form-control:focus, .probootstrap-footer form .form-control:active {
  outline: none;
  border: 1px solid #ffffff;
}

.probootstrap-footer form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5);
}

.probootstrap-footer form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}

.probootstrap-footer form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.5);
}

.probootstrap-footer form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}

.probootstrap-footer form .form-field {
  position: relative;
}

.probootstrap-footer form .btn.btn-subscribe {
  height: 40px;
  line-height: 0px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2em;
  border-radius: 4px;
  border: none;
  position: absolute;
  top: 3px;
  right: 3px;
  padding-left: 15px;
  padding-right: 15px;
  background: #2866AB;
}

.probootstrap-footer form .btn.btn-subscribe:hover, .probootstrap-footer form .btn.btn-subscribe:active, .probootstrap-footer form .btn.btn-subscribe:focus {
  color: #000000;
  background: #ffffff;
}

.probootstrap-footer .copyright p {
  font-size: 15px;
}

.probootstrap-link-wrap {
  padding-left: 40px;
}

@media screen and (max-width: 970px) {
  .probootstrap-link-wrap {
    padding-left: 0;
  }
}

.stack-link {
  padding: 0;
  margin: 0;
  display: block;
}

.stack-link li {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}

.stack-link small {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
}

.stack-link a:hover small {
  color: #ffffff;
}

.section-heading h2 {
  font-size: 2.074em;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.lead {
  font-size: 1.125em;
  line-height: 1.65;
}

.probootstrap-breadcrumbs {
  font-size: 14px;
}

.probootstrap-breadcrumbs a, .probootstrap-breadcrumbs span {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.probootstrap-breadcrumbs a {
  position: relative;
  padding-right: 10px;
  color: white;
  text-decoration: none;
  padding-left: 5px;
}

.probootstrap-breadcrumbs a:first-child {
  padding-left: 0;
}

.probootstrap-breadcrumbs a:hover {
  text-decoration: underline;
}

.probootstrap-breadcrumbs a:after {
  position: absolute;
  content: "/";
  right: 0;
  top: 1px;
  color: rgba(255, 255, 255, 0.5);
}

.probootstrap-breadcrumbs span {
  padding-left: 5px;
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.3);
}

.probootstrap-card .probootstrap-card-media.icon {
  font-size: 30px;
}

.probootstrap-card .probootstrap-card-media.svg-sm .svg {
  height: 80px;
  margin-bottom: 0;
}

.probootstrap-card .probootstrap-card-media.colored .svg {
  fill: #2866AB;
}

.probootstrap-card .probootstrap-card-text {
  padding: 20px;
}

.probootstrap-card .probootstrap-card-text .probootstrap-card-heading {
  margin-top: 0;
}

.probootstrap-card .probootstrap-card-text p:last-child {
  margin-bottom: 0;
}

.probootstrap-card.probootstrap-listing {
  margin-bottom: 20px;
  background: #ffffff;
  float: left;
  width: 100%;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  position: relative;
  top: 0;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-media {
  position: relative;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-media .probootstrap-love {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  bottom: -20px;
  right: 15px;
  background: #ffffff;
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
  display: inline-block;
  *display: inline;
  zoom: 1;
  -webkit-box-shadow: 0px 6px 8px -6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 8px -6px rgba(0, 0, 0, 0.1);
}

.probootstrap-card.probootstrap-listing .probootstrap-card-media .probootstrap-love:hover, .probootstrap-card.probootstrap-listing .probootstrap-card-media .probootstrap-love:focus {
  -webkit-box-shadow: 0px 2px 8px -6px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 8px -6px rgba(0, 0, 0, 0.7);
  background: #2866AB;
  color: #ffffff;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-media .probootstrap-love.active {
  -webkit-box-shadow: 0px 6px 8px -6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 8px -6px rgba(0, 0, 0, 0.1);
  background: #2866AB;
  color: #ffffff;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-text .probootstrap-listing-location {
  display: table;
  margin-bottom: 20px;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-text .probootstrap-listing-location i, .probootstrap-card.probootstrap-listing .probootstrap-card-text .probootstrap-listing-location span {
  display: table-cell;
  vertical-align: top;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-text .probootstrap-listing-location i {
  position: relative;
  top: 2px;
  width: 25px;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-text .probootstrap-listing-location span {
  font-weight: 400;
  font-size: 14px;
  color: #bdbdbd;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-text .probootstrap-listing-category {
  margin-bottom: 5px;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-text .probootstrap-listing-category span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 2px 10px;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 10px;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-text .probootstrap-listing-category.for-sale span {
  background: #22EAAA;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-text .probootstrap-listing-category.for-rent span {
  background: #EE5A5A;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-text .probootstrap-listing-price {
  font-size: 16px;
  color: #bdbdbd;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-text .probootstrap-listing-price strong {
  font-size: 30px;
  font-weight: 300;
  color: #2866AB;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-extra {
  float: left;
  background: #ffffff;
  width: 100%;
  border-top: 1px solid #f0f0f0;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-extra ul {
  padding: 0 20px;
  margin: 0;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-extra ul li {
  width: 25%;
  float: left;
  padding: 10px 0;
  margin: 0;
  list-style: none;
  font-size: 12px;
  color: #000000;
}

.probootstrap-card.probootstrap-listing .probootstrap-card-extra ul li span {
  display: block;
  color: #bdbdbd;
}

.probootstrap-card.probootstrap-listing:focus, .probootstrap-card.probootstrap-listing:hover {
  top: -20px;
  -webkit-box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .probootstrap-card.probootstrap-listing:focus, .probootstrap-card.probootstrap-listing:hover {
    top: 0;
  }
}

.probootstrap-card.probootstrap-person {
  background: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}

.probootstrap-card.probootstrap-person .probootstrap-card-media {
  padding-top: 30px;
}

.probootstrap-card.probootstrap-person .probootstrap-card-media img {
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

.probootstrap-card.probootstrap-person small {
  color: #c2c2c2;
}

.page-title {
  margin-top: 200px;
  text-align: left;
  float: left;
  width: 100%;
}

.page-title h1 {
  font-size: 50px;
  line-height: 50px;
  color: white;
  font-weight: 300;
}

.probootstrap-home-search {
  padding: 30px;
  background: rgba(0, 0, 0, 0.85);
  margin-top: 300px;
  color: #ffffff;
  text-align: center;
  float: left;
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 768px) {
  .probootstrap-home-search {
    margin-top: 100px;
  }
}

.probootstrap-home-search form {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.probootstrap-home-search a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
}

.probootstrap-home-search a:hover {
  color: white;
}

.probootstrap-home-search .heading {
  font-size: 24px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 300;
}

.probootstrap-home-search .probootstrap-field-group .probootstrap-fields {
  width: calc(100% - 200px);
  text-align: left;
  float: left;
}

@media screen and (max-width: 768px) {
  .probootstrap-home-search .probootstrap-field-group .probootstrap-fields {
    width: 100%;
  }
}

.probootstrap-home-search .probootstrap-field-group .probootstrap-fields input, .probootstrap-home-search .probootstrap-field-group .probootstrap-fields select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 50px;
  font-size: 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  width: 100%;
}

.probootstrap-home-search .probootstrap-field-group .probootstrap-fields input:active, .probootstrap-home-search .probootstrap-field-group .probootstrap-fields input:focus, .probootstrap-home-search .probootstrap-field-group .probootstrap-fields select:active, .probootstrap-home-search .probootstrap-field-group .probootstrap-fields select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
}

.probootstrap-home-search .probootstrap-field-group .probootstrap-fields .search-field,
.probootstrap-home-search .probootstrap-field-group .probootstrap-fields .search-category {
  position: relative;
}

.probootstrap-home-search .probootstrap-field-group .probootstrap-fields .search-field i,
.probootstrap-home-search .probootstrap-field-group .probootstrap-fields .search-category i {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.probootstrap-home-search .probootstrap-field-group .probootstrap-fields .search-field {
  float: left;
  width: 60%;
}

@media screen and (max-width: 768px) {
  .probootstrap-home-search .probootstrap-field-group .probootstrap-fields .search-field {
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
  }
}

.probootstrap-home-search .probootstrap-field-group .probootstrap-fields .search-field i {
  left: 10px;
}

.probootstrap-home-search .probootstrap-field-group .probootstrap-fields .search-field input {
  padding-left: 40px;
}

.probootstrap-home-search .probootstrap-field-group .probootstrap-fields .search-category {
  width: 40%;
  float: left;
  position: relative;
}

@media screen and (max-width: 768px) {
  .probootstrap-home-search .probootstrap-field-group .probootstrap-fields .search-category {
    width: 100%;
  }
}

.probootstrap-home-search .probootstrap-field-group .probootstrap-fields .search-category i {
  right: 10px;
}

.probootstrap-home-search .probootstrap-field-group .probootstrap-fields .search-category:before {
  content: "";
  position: absolute;
  top: 7px;
  bottom: 7px;
  left: 0;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.probootstrap-home-search .probootstrap-field-group .btn {
  border-radius: 0;
  height: 50px;
  width: 200px;
  float: right;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 768px) {
  .probootstrap-home-search .probootstrap-field-group .btn {
    width: 100%;
  }
}

.t2 {
  top: 2px;
  position: relative;
}

.image-popup {
  margin-bottom: 30px;
  float: left;
  width: 100%;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.probootstrap-cart a {
  position: relative;
}

.probootstrap-cart a .number {
  letter-spacing: .0em;
  position: absolute;
  top: 0;
  left: 10px;
  display: inline-block;
  width: 25px;
  font-size: 12px;
  height: 25px;
  margin-top: -5px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  background: #2866AB;
  color: #ffffff;
}

.product-item, .media-item {
  -webkit-box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.09);
  background: #ffffff;
  margin-bottom: 30px;
  border-radius: 7px;
  overflow: hidden;
}

.product-item figure, .media-item figure {
  margin-bottom: 0;
}

.product-item .text, .media-item .text {
  padding: 20px;
}

.product-item .text .heading, .media-item .text .heading {
  font-size: 20px;
  margin-top: 0;
  line-height: 1.4;
}

.product-item .text p:last-child, .media-item .text p:last-child {
  margin-bottom: 0;
}

.probootstrap-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.probootstrap-half .image-wrap, .probootstrap-half .text {
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .probootstrap-half .image-wrap, .probootstrap-half .text {
    width: 100%;
  }
}

.probootstrap-half .image-wrap {
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .probootstrap-half .image-wrap {
    height: 400px;
    width: 100%;
  }
}

.probootstrap-half .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: .8s all ease-in-out;
  transition: .8s all ease-in-out;
  background-color: #2866AB;
}

.probootstrap-half .text {
  padding: 100px;
  background: #161C2E;
}

@media screen and (max-width: 1000px) {
  .probootstrap-half .text {
    width: 100%;
    padding: 30px 15px;
    float: left;
  }
}

.probootstrap-half .text .subtitle {
  color: rgba(255, 255, 255, 0.2);
}

.probootstrap-half .text h2, .probootstrap-half .text h3, .probootstrap-half .text .probootstrap-card .probootstrap-card-text .probootstrap-card-heading, .probootstrap-card .probootstrap-card-text .probootstrap-half .text .probootstrap-card-heading, .probootstrap-half .text .service .heading, .service .probootstrap-half .text .heading, .probootstrap-half .text h4, .probootstrap-half .text h5 {
  color: #ffffff;
}

.probootstrap-half .text h3, .probootstrap-half .text .probootstrap-card .probootstrap-card-text .probootstrap-card-heading, .probootstrap-card .probootstrap-card-text .probootstrap-half .text .probootstrap-card-heading, .probootstrap-half .text .service .heading, .service .probootstrap-half .text .heading {
  line-height: 30px;
  font-size: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .probootstrap-half .text h3, .probootstrap-half .text .probootstrap-card .probootstrap-card-text .probootstrap-card-heading, .probootstrap-card .probootstrap-card-text .probootstrap-half .text .probootstrap-card-heading, .probootstrap-half .text .service .heading, .service .probootstrap-half .text .heading {
    font-size: 24px;
    line-height: 24px;
  }
}

.probootstrap-half .text p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5;
}

.probootstrap-half.reverse {
  position: relative;
}

.probootstrap-half.reverse .image-wrap {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .probootstrap-half.reverse .image-wrap {
    position: relative;
    height: 400px;
  }
}

.probootstrap-half .btn-ghost-white {
  border-color: rgba(255, 255, 255, 0.2) !important;
}

.probootstrap-half .btn-ghost-white:hover, .probootstrap-half .btn-ghost-white:active, .probootstrap-half .btn-ghost-white:focus {
  background: none !important;
  color: #ffffff !important;
  border-color: #2866ab !important;
}

.probootstrap-half .service-item {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

.probootstrap-half .service-item .number {
  font-weight: 700;
  font-size: 100px;
  left: 0px;
  margin-left: -50px;
  top: 0;
  color: rgba(255, 255, 255, 0.05);
  z-index: 1;
  line-height: 100px;
  position: absolute;
}

.probootstrap-hover-overlay {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-transition: .7s all ease-out;
  transition: .7s all ease-out;
  margin-bottom: 10px;
}

.probootstrap-hover-overlay img {
  position: relative;
  z-index: 1;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.probootstrap-hover-overlay:before {
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.probootstrap-hover-overlay .probootstrap-text-overlay {
  text-align: center;
  position: absolute;
  z-index: 20;
  left: 50%;
  top: 50%;
  -webkit-transition: .4s all ease-out;
  transition: .4s all ease-out;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.probootstrap-hover-overlay .probootstrap-text-overlay h3, .probootstrap-hover-overlay .probootstrap-text-overlay .probootstrap-card .probootstrap-card-text .probootstrap-card-heading, .probootstrap-card .probootstrap-card-text .probootstrap-hover-overlay .probootstrap-text-overlay .probootstrap-card-heading, .probootstrap-hover-overlay .probootstrap-text-overlay .service .heading, .service .probootstrap-hover-overlay .probootstrap-text-overlay .heading {
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 0;
}

.probootstrap-hover-overlay .probootstrap-text-overlay p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}

.probootstrap-hover-overlay .probootstrap-text-overlay p:last-child {
  margin-bottom: 0;
}

.probootstrap-hover-overlay:hover:before {
  opacity: 1;
  visibility: visible;
}

.probootstrap-hover-overlay:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.probootstrap-block-image {
  margin-bottom: 40px;
  float: left;
  width: 100%;
}

.probootstrap-block-image figure {
  width: 200px;
  margin: 0 auto;
}

.probootstrap-block-image figure img {
  max-width: 100%;
  border-radius: 50%;
}

.probootstrap-block-image h4 {
  font-size: 20px;
  text-transform: uppercase;
}

.probootstrap-footer-social {
  padding: 0;
  margin: 0;
}

.probootstrap-footer-social li {
  display: inline;
  padding: 0;
  margin: 0;
  list-style: none;
}

.probootstrap-footer-social li a {
  padding: 10px;
  font-size: 22px;
}

.probootstrap-footer-social li a:hover {
  text-decoration: none !important;
}

.probootstrap-footer-social li:first-child > a {
  padding-left: 0;
}

.service {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  padding: 30px;
  border-radius: 0px;
  background: #ffffff;
  -webkit-box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.09);
}

.service .icon {
  position: relative;
  display: block;
  margin-bottom: 10px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  border: 2px solid rgba(40, 102, 171, 0.2);
  border-radius: 50%;
  text-align: center;
}

.service .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 30px;
  color: rgba(0, 0, 0, 0.2);
  color: #2866AB;
}

.service p:last-child {
  margin-bottom: 0;
}

.service.left-icon {
  padding: 0px;
  border: none;
  margin-bottom: 20px !important;
}

.service.left-icon .icon, .service.left-icon .text {
  display: table-cell;
  vertical-align: top;
}

.service.left-icon .icon {
  width: 70px;
  position: relative;
  top: 20px;
}

.service.left-icon .icon i {
  font-size: 40px;
}

.service.left-icon .text {
  display: table-cell;
}

.service.left-icon h3, .service.left-icon .probootstrap-card .probootstrap-card-text .probootstrap-card-heading, .probootstrap-card .probootstrap-card-text .service.left-icon .probootstrap-card-heading, .service.left-icon .heading {
  font-size: 22px;
  margin-bottom: 0px;
}

.service.left-icon p {
  font-size: 14px;
}

.service.left-icon p:last-child {
  margin-bottom: 0;
}

.service.hover_service {
  -webkit-transition: .3s all;
  transition: .3s all;
}

.service.hover_service:hover, .service.hover_service:focus {
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.probootstrap-form {
  margin-bottom: 50px;
}

.probootstrap-form.probootstrap-form-box {
  background: #ffffff;
  padding: 60px;
  -webkit-box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, 0.1);
  box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .probootstrap-form.probootstrap-form-box {
    padding: 20px;
  }
}

.probootstrap-form .form-note-link {
  font-weight: 400;
}

.probootstrap-form .form-note-link a {
  color: #bfbfbf;
}

.probootstrap-form .form-note-link a:hover, .probootstrap-form .form-note-link a:active, .probootstrap-form .form-note-link a:focus {
  color: #404040;
}

.probootstrap-form label {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}

.probootstrap-form .form-control {
  height: 46px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 2px solid #cccccc;
  background: none;
  color: #000000;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.probootstrap-form .form-control:active, .probootstrap-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #2866AB;
}

.probootstrap-form textarea.form-control {
  height: inherit;
  resize: vertical;
}

.probootstrap-animate {
  opacity: 0;
  visibility: hidden;
}

.probootstrap-contact-info, .with-icon {
  padding: 0;
  margin: 0 0 30px 0;
  color: rgba(0, 0, 0, 0.4);
}

.probootstrap-contact-info li, .with-icon li {
  padding: 0;
  margin: 20px 0 15px 0;
  list-style: none;
  line-height: 24px;
  display: table;
}

.probootstrap-contact-info li > i, .probootstrap-contact-info li > span, .with-icon li > i, .with-icon li > span {
  vertical-align: top;
  display: table-cell;
}

.probootstrap-contact-info li > i, .with-icon li > i {
  font-size: 20px;
  position: relative;
  top: 4px;
  width: 30px;
}

.with-icon li i {
  top: 4px;
  font-size: 15px;
}

.with-icon.colored i {
  color: #2866AB;
}

.probootstrap-section-heading .sub-heading {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-top: 0;
}

.probootstrap-section-heading .heading {
  margin-top: 0;
}

.row.heading h2 {
  font-size: 28px;
}

/* Flexslider override style */
.slider-height, .flexslider, .flexslider2, .flexslider .slides > li, .flexslider2 .slides > li {
  height: 800px;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .slider-height, .flexslider, .flexslider2, .flexslider .slides > li, .flexslider2 .slides > li {
    height: inherit;
    height: 500px;
  }
}

.lead {
  font-size: 20px;
}

.flexslider, .flexslider2 {
  position: relative;
  z-index: 2;
  background: none;
  border: none;
  margin: 0 0 0;
  border-radius: 0px;
  color: rgba(255, 255, 255, 0.7);
}

.flexslider .overlay, .flexslider2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
}

.flexslider.page-inner, .flexslider2.page-inner {
  height: 400px;
}

.flexslider.page-inner .slides > li, .flexslider2.page-inner .slides > li {
  height: 400px;
}

.flexslider .btn, .flexslider2 .btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
}

.flexslider .probootstrap-heading, .flexslider2 .probootstrap-heading {
  color: #ffffff;
  font-weight: 300;
  font-size: 170px;
  line-height: 60px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .flexslider .probootstrap-heading, .flexslider2 .probootstrap-heading {
    font-size: 90px;
    line-height: 70px;
  }
}

.flexslider .probootstrap-heading a, .flexslider2 .probootstrap-heading a {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.flexslider .probootstrap-heading a:hover, .flexslider2 .probootstrap-heading a:hover {
  border-bottom: 2px solid white;
}

.flexslider .probootstrap-sub-wrap, .flexslider2 .probootstrap-sub-wrap {
  max-width: 600px;
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
}

.flexslider .probootstrap-sub-wrap a, .flexslider2 .probootstrap-sub-wrap a {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.flexslider .probootstrap-sub-wrap a:hover, .flexslider2 .probootstrap-sub-wrap a:hover {
  border-bottom: 2px solid white;
}

.flexslider .text-center .probootstrap-sub-wrap, .flexslider2 .text-center .probootstrap-sub-wrap {
  margin: 0 auto;
  text-align: center;
}

.flexslider .probootstrap-slider-text, .flexslider2 .probootstrap-slider-text {
  margin-top: 300px;
}

@media screen and (max-width: 480px) {
  .flexslider .probootstrap-slider-text, .flexslider2 .probootstrap-slider-text {
    margin-top: 100px;
  }
}

.flexslider.probootstrap-inner, .flexslider2.probootstrap-inner {
  height: 500px;
}

.flexslider.probootstrap-inner .probootstrap-slider-text, .flexslider2.probootstrap-inner .probootstrap-slider-text {
  margin-top: 150px;
}

@media screen and (max-width: 480px) {
  .flexslider.probootstrap-inner .probootstrap-slider-text, .flexslider2.probootstrap-inner .probootstrap-slider-text {
    margin-top: 100px;
  }
}

.flexslider .slides > li, .flexslider2 .slides > li {
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  background-attachment: fixed;
}

.flexslider .slides > li.overlay:before, .flexslider2 .slides > li.overlay:before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flexslider .slides > li.overlay2:before, .flexslider2 .slides > li.overlay2:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flexslider .flex-control-paging, .flexslider2 .flex-control-paging {
  position: absolute;
  bottom: 30px;
  z-index: 20;
}

@media screen and (max-width: 480px) {
  .flexslider .flex-direction-nav, .flexslider2 .flex-direction-nav {
    display: none;
  }
}

.flexslider .flex-direction-nav a, .flexslider2 .flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 50;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  padding: 30px;
}

.flexslider .flex-direction-nav a:hover, .flexslider .flex-direction-nav a:active, .flexslider .flex-direction-nav a:focus, .flexslider2 .flex-direction-nav a:hover, .flexslider2 .flex-direction-nav a:active, .flexslider2 .flex-direction-nav a:focus {
  outline: none;
}

.flexslider .flex-direction-nav a:before, .flexslider2 .flex-direction-nav a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  content: "\e929";
  -webkit-transition: .3s all;
  transition: .3s all;
  font-size: 30px;
  display: inline-block;
  color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flexslider .flex-direction-nav a.flex-next:before, .flexslider2 .flex-direction-nav a.flex-next:before {
  content: "\e92a";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flex-direction-nav .flex-prev {
  left: 50px;
}

.flex-direction-nav .flex-next {
  right: 50px;
  text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 60px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover,
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.3);
}

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 60px;
}

.flex-control-paging li a {
  width: 10px;
  height: 10px;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-transition: .3s all;
  transition: .3s all;
  border: 2px solid transparent;
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
}

.flex-control-paging li a.flex-active {
  background: none;
  cursor: default;
  border: 2px solid #000000;
}

/* Owl carousel override style */
.owl-carousel {
  margin-bottom: 100px;
}

.owl-carousel.border-rounded .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  position: absolute;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 20px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 20px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #000000;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #ffffff;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 24px;
  background: rgba(0, 0, 0, 0.7) !important;
  padding: 12px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  background: rgba(0, 0, 0, 0.7) !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: -30px;
  margin-bottom: -2.5em;
}

.owl-work.owl-theme .owl-dots {
  bottom: -30px;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s all;
  transition: .2s all;
  border: 2px solid transparent;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #000000;
}

.probootstrap-testimony-wrap {
  max-width: 700px;
  margin: 0 auto;
  display: table;
}

@media screen and (max-width: 980px) {
  .probootstrap-testimony-wrap {
    display: block;
    text-align: center !important;
  }
}

.probootstrap-testimony-wrap figure, .probootstrap-testimony-wrap blockquote {
  display: table-cell;
  vertical-align: top;
}

@media screen and (max-width: 980px) {
  .probootstrap-testimony-wrap figure, .probootstrap-testimony-wrap blockquote {
    width: 100%;
    display: block;
  }
}

.probootstrap-testimony-wrap figure {
  width: 120px;
  margin: 0 auto 50px auto;
}

.probootstrap-testimony-wrap figure img {
  border-radius: 50%;
}

@media screen and (max-width: 980px) {
  .probootstrap-testimony-wrap figure {
    width: 100%;
  }
  .probootstrap-testimony-wrap figure img {
    max-width: inherit;
    width: 120px !important;
    margin: 0 auto;
  }
}

.probootstrap-testimony-wrap blockquote {
  padding-left: 40px;
  border-left: none;
}

.probootstrap-testimony-wrap .author {
  margin-top: 50px;
  display: block;
  font-size: 14px;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.image-link {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

/* aligns caption to center */
.mfp-title {
  text-align: center;
  padding: 6px 0;
}

.image-source-link {
  color: #DDD;
}

.probootstrap-gutter0 > div[class*='col-'] {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter0 > div[class*='col-'] {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.probootstrap-gutter10 > div[class*='col-'] {
  padding-right: 5px;
  padding-left: 5px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter10 > div[class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.probootstrap-gutter40 > div[class*='col-'] {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter40 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.probootstrap-gutter60 > div[class*='col-'] {
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter60 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.probootstrap-black-color {
  color: #000000 !important;
}

.probootstrap-white-color {
  color: #ffffff !important;
}

.probootstrap-primary-color {
  color: #2866AB !important;
}

.probootstrap-secondary-color {
  color: #ddf0f3 !important;
}

@media screen and (max-width: 768px) {
  .img-sm-responsive {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .img-xs-responsive {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.probootstrap-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: #ffffff url(../img/preloader.gif) center no-repeat;
}

.gototop {
  position: fixed;
  bottom: -20px;
  right: 20px;
  z-index: 9999999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.gototop.active {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}

.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
}

.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
  background: rgba(0, 0, 0, 0.9);
}
